.list {
  @apply w-80 overflow-y-auto overflow-x-hidden scrollbar scrollbar-thumb-blue-400 scrollbar-track-blue-100 scrollbar-thin;
  max-height: 60vh;
}

::ng-deep .mat-list-item {
  height: auto;
}

::ng-deep .mat-list-item-content {
  padding: 0 !important;
}
