<div *ngIf="loaded" class="w-full bg-white p-4 rounded-lg select-none">
  <div *ngIf="error == null" class="w-full md:w-screen max-w-2xl">
    <h1 class="text-3xl text-green-500 select-text md:text-center">Promotion : {{ promotion.className }}</h1>
    <h2 *ngIf="promotion.students.length === 0" class="text-xl text-center text-red-400 mt-4 mb-4">There is no students in this promotion</h2>
    <mat-list *ngIf="promotion.students.length !== 0" class="list">
      <mat-list-item *ngFor="let student of promotion.students" class="mb-2">
        <div class="w-full flex justify-between items-center">
          <div class="w-full">
            <div class="flex items-center">
              <mat-icon class="mr-1 text-blue-400">person</mat-icon>
              <p class="w-full text-blue-600 text-xl font-semibold truncate mr-2 select-text">{{ student.fullName }}</p>
            </div>
            <div class="flex items-center">
              <mat-icon class="mr-1 text-blue-400">date_range</mat-icon>
              <p class="font-semibold text-green-400 text-sm">{{ toDate(student.lastPresence) | date:'d MMMM y' }}</p>
            </div>
          </div>
          <!--<mat-icon class="text-white bg-green-500">check</mat-icon>-->
          <!--<mat-icon class="text-white bg-red-500">close</mat-icon>-->
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div *ngIf="error != null">
    <h1 class="text-center font-semibold text-4xl p-3 text-red-500">{{ error }}</h1>
  </div>
</div>