<app-page [loaded]="loaded" [error]="error" [success]="success" class="block w-72 md:w-screen md:max-w-screen-sm">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-3xl font-semibold text-green-500 text-center">{{ promotion.className }}</h1>
    <h2 class="ml-2 text-2xl text-green-500 text-center">{{ toDate(day?.date) | date:'d MMMM y' }}</h2>
  </div>
  <h2 *ngIf="volunteers.length === 0" class="text-xl text-center text-red-400 mt-4 mb-4">There is no volunteers for this day</h2>
  <mat-list *ngIf="volunteers.length !== 0" class="list">
    <mat-list-item *ngFor="let volunteer of volunteers" class="mb-2">
      <div class="w-full flex justify-between items-center">
        <div class="w-full md:w-96">
          <div class="flex items-center">
            <mat-icon class="mr-1 text-blue-400">person</mat-icon>
            <p class="w-full text-blue-600 text-xl font-semibold truncate mr-2 select-text">{{ volunteer.student.fullName }}</p>
          </div>
          <div class="flex items-center">
            <mat-icon class="mr-1 text-blue-400">date_range</mat-icon>
            <p class="font-semibold text-green-400 text-sm">{{ toDate(volunteer.student.lastPresence) | date:'d MMMM y' }}</p>
          </div>
        </div>
        <div class="mr-2">
          <mat-icon *ngIf="volunteer.present" class="text-white bg-green-500">check</mat-icon>
          <mat-icon *ngIf="!volunteer.present" class="text-white bg-red-500">close</mat-icon>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
  <div class="flex justify-between mt-4">
    <button (click)="share()" class="bg-blue-500" appButton>Share</button>
    <div class="flex justify-end">
      <button (click)="save()" class="bg-blue-500 mr-2" appButton>Save</button>
      <button (click)="export()" class="bg-blue-500" appButton>Export</button>
    </div>
  </div>
</app-page>