<mat-dialog-content class="flex-col justify-center items-center select-none">
  <h1 class="text-green-500 text-3xl text-center font-semibold" i18n>Create a new promotion</h1>
  <div class="w-full pt-5" [formGroup]="form">
    <input class="mb-4 w-full" appInput type="text" i18n-placeholder placeholder="Name" formControlName="name"/>
    <input class="mb-4 w-full" appInput type="password" i18n-placeholder placeholder="Password" formControlName="password"/>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex justify-between w-full mb-2">
    <button appButton (click)="close()" class="bg-red-500" i18n>Cancel</button>
    <button appButton (click)="create()" class="bg-blue-500" [disabled]="!form.valid" i18n>Create</button>
  </div>
</mat-dialog-actions>