<app-page [loaded]="loaded" [error]="error" [success]="success" class="block w-full">

  <div appLogoContainer>
  <img appLogo src="assets/logo.png" class="mb-2">
  </div>
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-3xl font-semibold text-green-500 text-center">{{ promotion.className }}</h1>
    <h2 class="ml-2 text-2xl text-green-500 text-center">{{ toDate(day?.date) | date:'EEEE d MMMM y' }}</h2>
  </div>
  <div class="w-full p-4 flex flex-col" [formGroup]="form">
    <input class="mb-4" appInput type="text" i18n-placeholder placeholder="Student name" formControlName="student" [matAutocomplete]="auto" />
    <mat-autocomplete class="scrollbar scrollbar-thumb-blue-400 scrollbar-track-blue-100 scrollbar-thin"
      (optionSelected)="selectStudent($event.option.value)" #auto="matAutocomplete" [displayWith]="displayStudent">
      <mat-option *ngFor="let student of filteredStudents | async " [value]="student">
        {{ student.fullName }}
      </mat-option>
    </mat-autocomplete>
    <button appButton (click)="volunteer()" class="w-full bg-blue-500" [disabled]="!form.valid" i18n>Volunteer</button>
  </div>
</app-page>
