<app-page [loaded]="loaded" [error]="error" [success]="success">
  <h1 class="text-center font-semibold text-5xl p-3 text-green-500">I'm present !</h1>
  <div class="w-full p-4 flex flex-col" [formGroup]="form">
    <input class="mb-4"appInput type="text" placeholder="Name" formControlName="name"/>
    <input class="mb-6" appInput type="password" placeholder="Password" formControlName="password"/>
    <button appButton (click)="login()" class="w-full bg-blue-500" [disabled]="!form.valid">Login</button>
    <button appButton (click)="create()" class="w-full bg-green-500 mt-4">Create</button>
  </div>
</app-page>