$blue: (
  50: #e7f0fe,
  100: #c4dafc,
  200: #9dc1fb,
  300: #76a8f9,
  400: #5896f7,
  500: #3b83f6,
  600: #357bf5,
  700: #2d70f3,
  800: #2666f2,
  900: #1953ef,
  A100: #ffffff,
  A200: #eef2ff,
  A400: #bbcbff,
  A700: #a1b8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$green: (
    50 : #e2f7f0,
    100 : #b7ead9,
    200 : #88dcc0,
    300 : #58cea7,
    400 : #34c494,
    500 : #10b981,
    600 : #0eb279,
    700 : #0caa6e,
    800 : #09a264,
    900 : #059351,
    A100 : #bfffde,
    A200 : #8cffc3,
    A400 : #59ffa9,
    A700 : #40ff9c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);