<mat-dialog-content class="flex-col justify-center items-center select-none" style="display: flex;">
  <h1 class="text-green-500 text-3xl text-center font-semibold">Add a student</h1>
  <div class="w-80 pt-5" [formGroup]="form">
    <input class="mb-4 w-full" appInput type="text" placeholder="Name" formControlName="name"/>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex justify-between w-full mb-2">
    <button appButton mat-dialog-close class="bg-red-500">Cancel</button>
    <button appButton (click)="add()" class="bg-blue-500" [disabled]="!form.valid">Add</button>
  </div>
</mat-dialog-actions>