<div *ngIf="loaded" class="flex flex-col items-center bg-white rounded-lg shadow-lg p-4 select-none">
  <div *ngIf="error == null">
    <h1 class="text-center font-semibold text-5xl p-3 text-green-500">Promotion : {{ promotion.className }}</h1>
    <div class="w-full p-4 flex flex-col" [formGroup]="form">
      <input class="mb-4" appInput type="text" placeholder="Student name" formControlName="student" />
      <mat-datepicker #picker></mat-datepicker>
      <input (click)="picker.open()" [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" class="mb-6 cursor-pointer" appInput type="text" placeholder="Day" formControlName="day" readonly/>
      <button appButton (click)="volunteer()" class="w-full bg-blue-500" [disabled]="!form.valid">Volunteer</button>
    </div>
  </div>
  <div *ngIf="error != null">
    <h1 class="text-center font-semibold text-4xl p-3 text-red-500">{{ error }}</h1>
  </div>
</div>